<div class = "span12  row-fluid">

<div class = "span2">
	<image src=<%= "#{image_path("1.png")}" %>></image>
</div>


<div id="accordion" class="accordion span4">
	<div class="accordion-group" >
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#audienceTab"><span style="padding: 0 0 0 15px;">Audience</span></a>
		</div>
		<div id="audienceTab" class="accordion-body collapse">
			<div class="accordion-inner">
				<div id = "audi" class = "content">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#elementsTab"><span style="padding: 0 0 0 15px;">Elements</span></a>
		</div>
		<div id="elementsTab" class="accordion-body collapse">
			<div class="accordion-inner">
				<div id = "ele" class = "content"></div>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading  row-fluid">
			<span class ="span1" style="padding: 5px 0 0 10px;"><input type="checkbox" id ="cb_notice"/> 
			</span>
			<a class="accordion-toggle span6" style="padding-left: 0px;" data-toggle="collapse" data-parent="#accordion" href="#firstNoticeTab"> 
				<span class = "pull-left">First Notices</span> 
			</a>
		</div>
		<div id="firstNoticeTab" class="accordion-body collapse">
			<div class="accordion-inner">
				<div id = "notice" class = "content">
					<p>
						Intro...
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading  row-fluid">
			<span class ="span1" style="padding: 5px 0 0 10px;"><input type="checkbox" id ="cb_imp"/> 
			</span>
			<a class="accordion-toggle span6" style="padding-left: 0px;" data-toggle="collapse" data-parent="#accordion" href="#impressionTab"> 
				<span class = "pull-left">Impressions</span> 
			</a>
		</div>
		<div id="impressionTab" class="accordion-body collapse">
			<div class="accordion-inner">
				<div id = "imp" class = "content">
					<p>
						Intro...
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading  row-fluid">
			<span class ="span1" style="padding: 5px 0 0 10px;"><input type="checkbox" id ="cb_goal"/> 
			</span>
			<a class="accordion-toggle span6" style="padding-left: 0px;" data-toggle="collapse" data-parent="#accordion" href="#goalTab"> 
				<span class = "pull-left">Goals</span> 
			</a>
		</div>
		<div id="goalTab" class="accordion-body collapse">
			<div class="accordion-inner">
				<div id ="instru_goal" class = "instru"></div>
				<table class = "content" id ="goal">
					<tbody></tbody>
				</table>
				<div id ="goal_div" class = "content"></div>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading row-fluid">
			<span class ="span1" style="padding: 5px 0 0 10px;"><input type="checkbox" id ="cb_guide"/> 
			</span>
			<a class="accordion-toggle span6" style="padding-left: 0px;" data-toggle="collapse" data-parent="#accordion" href="#guideTab"> 
				<span class = "pull-left">Guidelines</span> 
			</a>
		</div>
		<div id="guideTab" class="accordion-body collapse">
			<div class="accordion-inner">
				<table class = "content" id ="guide">
					<tbody></tbody>
				</table>
				<div id ="guide_div" class = "content"></div>
			</div>
		</div>
	</div>

</div>
</div>
<div class = "span6 offset2">
<input type="submit" value="Submit" id = "submit-btn" >
</div>
<script>
var fed_config = {is_requested:{audience:true, element:true, impression:true, first_notice:true, guideline: true, goal: true}, audience:{gender:[true,false],age:[true,true,true,true,true,true],country:[true,true,true,true,true]}, element:[{name:'object',is_requried:true},{name:'color',is_requried:true},{name:'activity',is_requried:true},{name:'shape',is_requried:true}], goal:[{is_requried:true,title:'goal1',description:'desb1'},{is_requried:true,title:'goal2',description:'desb2'}], guideline:[{is_requried:true,title:'guideline1',description:'desb1'},{is_requried:true,title:'guideline2',description:'desb2'}]};

$(function() {
		
		$('#audi').append('<div class =  "row-fluid"' + 'id = "gender"'+'><p style = "font-weight:bold">Gender:</p></div>');
		
		addCheckbox("gender","female",fed_config.audience.gender[0]);
		addCheckbox("gender","male",fed_config.audience.gender[1]);
		
		$('#audi').append('<div class =  "row-fluid"' + 'id = "age"'+'><p style = "font-weight:bold">Age:</p></div>');
		addCheckbox("age","< 20",true);
		addCheckbox("age","21-30",true);
		addCheckbox("age","31-40",true);
		addCheckbox("age","41-50",true);
		addCheckbox("age","51-60",true);
		addCheckbox("age",">60",true);
		
		$('#audi').append('<div class =  "row-fluid"' + 'id = "country"'+'><p style = "font-weight:bold">Country:</p></div>');
		addCheckbox("country","USA",true);
		addCheckbox("country","India",true);
		addCheckbox("country","UK",true);
		addCheckbox("country","Canada",true);
		addCheckbox("country","other",true);
		
		$('#ele').append('<div class =  "row-fluid"' + 'id = "eletype"'+'><p style = "font-weight:bold">Element Type:</p></div>');

		addCheckbox("eletype","object",true);
		addCheckbox("eletype","color",true);
		addCheckbox("eletype","activity",true);
		addCheckbox("eletype","shape",true);

		$('#ele').append('<input type="text" id="txtName" />');
		$('#ele').append('<input type="button" value="add" id="btnaddEle" />');
		$('#btnaddEle').click(function() {
	        addCheckbox("eletype", $('#txtName').val(), true);
	    });

	
    
    var goalcontent = [{"title":"g1","content":"Click to edit1"},{"title":"g2","content":"Click to edit1"}];
    var guidecontent = [{"title":"guide1","content":"guide1 content"},{"title":"guide2","content":"Click to edit"}];

    //goal
    addRowContent(goalcontent,'goal',true);
    addButton('goal');
    //var rowCount = $('#myTable tr').length;
    //$(".id39").each(function() {
    // var currentValue = $(this).text();
	//});
   
    //guide
    addRowContent(guidecontent,'guide',false);
    addButton('guide');


    setTxtEditable();

	var divID = "#instru_goal";
	var txt = "You will have the perceived ratings and rationale for each of the stated design goals. Describe each goal in lay language.";
			
			
	$(divID).append('<div class="comment more">'+txt+'</div>');


	var showChar = 121;
	var ellipsestext = "...";
	var moretext = "more";
	var lesstext = "less";
	$('.more').each(function() {
		var content = $(this).html();

		if(content.length > showChar) {

			var c = content.substr(0, showChar);
			var h = content.substr(showChar-1, content.length - showChar);

			var html = c + '<span class="moreelipses">'+ellipsestext+'</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">'+moretext+'</a></span>';

			$(this).html(html);
		}

	});

	$(".morelink").click(function(){
		if($(this).hasClass("less")) {
			$(this).removeClass("less");
			$(this).html(moretext);
		} else {
			$(this).addClass("less");
			$(this).html(lesstext);
		}
		$(this).parent().prev().toggle();
		$(this).prev().toggle();
		return false;
	});



  $("#submit-btn").click(function(){
    $.ajax({
      type: "POST",
      url: "/edit",
      data: fed_config,
      success: function(){
        alert("Success");
      },
      fail: function(){
        alert("Failed");
      }
    });
  });


}); 	
	
	
	
	
function addCheckbox(containerid,name,ischecked, cbid) {
	   var container = $('#'+containerid);
	   var inputs = container.find('input');
	   
	   cbid = typeof cbid !== 'undefined' ? cbid : 'cb_'+containerid+'_'+inputs.length;
	   
	   var tmp = $('<label class = "checkbox span3"/>', { 'for': cbid}).appendTo(container);
	   $('<input />', { type: 'checkbox', id: cbid, value: name}).appendTo(tmp);
	   $(tmp).append(document.createTextNode(name));
	   $('#'+cbid).prop("checked", ischecked);


	}
	

function addRowContent(arrcontent, mode, isEditable)
{
	for (var i = 0; i < arrcontent.length; i++) {

        $('#'+mode+' > tbody:last').append('\
        		<tr>\
        		    <td id = "'+'cbcontainer_'+mode+'_'+i+'" style="width:10px;"></td>\
        		    <td id = "'+'td_'+mode+'_title_'+i+'">'+arrcontent[i].title+'</td>\
       		        <td id = "'+'td_'+mode+'_content_'+i+'">'+arrcontent[i].content+'</td>\
       		    </tr>');
        
        if(isEditable)
    	{
    		$('#'+'td_'+mode+'_title_'+i).addClass("editable");
    		$('#'+'td_'+mode+'_content_'+i).addClass("editable");
    	}	
        addCheckbox('cbcontainer_'+mode+'_'+i,'',true, 'cb_'+mode+'_'+i); 
        var labletmp = $('#'+'cb_'+mode+'_'+i).parent().get(0);
        $(labletmp).removeClass("span3");
        //$(labletmp).css("width","10px");
        $(labletmp).css("padding-left","40px");
        $(labletmp).css("padding-top","6px");

    }
    
	

}

function addButton(mode)
{
	$('#'+mode+'_div').append('<input type="button" value="add" id="btnadd'+mode+'" />');
	$('#btnadd'+mode).click(function() {
		var rowCount = $('#'+mode+' tr').length;
		$('#'+mode+' > tbody:last').append('\
				<tr>\
					<td id = "'+'cbcontainer_'+mode+'_'+rowCount+'"></td>\
					<td id = "'+'td_'+mode+'_title_'+rowCount+'">'+mode+(rowCount+1)+'</td>\
					<td id = "'+'td_'+mode+'_content_'+rowCount+'">'+'Click to edit'+'</td>\
				</tr>');
		$('#'+'td_'+mode+'_title_'+rowCount).addClass("editable");
		$('#'+'td_'+mode+'_content_'+rowCount).addClass("editable");
        //addCheckbox('cbcontainer_'+mode+'_'+rowCount,''+mode+''+(rowCount+1), 'cb_'+mode+'_'+rowCount); 
        addCheckbox('cbcontainer_'+mode+'_'+rowCount,'',true, 'cb_'+mode+'_'+rowCount);
        var labletmp = $('#'+'cb_'+mode+'_'+rowCount).parent().get(0);
        $(labletmp).removeClass("span3");
        $(labletmp).css("padding-left","40px");
        $(labletmp).css("padding-top","6px");
        
        setTxtEditable();

    });
}
function setTxtEditable() {
	//$('td:contains("Click to edit")').click(
	$('.editable').click(
		    function(){
		        var text = $(this).text();
		        $(this).text('');
		        //$('<input type="text" />').appendTo($(this)).val(text).select().blur(
		        $('<textarea style = "width:250px" />').appendTo($(this)).val(text).select().blur(
		            function(){
		                var newText;
		                if($(this).val()=='')
		                {
			                var newText = 'Click to edit';

		                }else{
			                var newText = $(this).val();	
		                }	
		                $(this).parent().text(newText).find('input:text').remove();
		            });
		    });
}
</script>